@import "tailwindcss";


@theme {
 
  --breakpoint-sm: 580px;
  --breakpoint-md: 780px;
  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1500px;
  --color-primary: #734BDF;
  --font-onest: "Onest", sans-serif;
}

@utility container{
  @apply mx-auto
}